/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.jumbotron {
    background-image: url("/img/food2.jpg");
    background-color:rgba(0, 0, 0, 0.5);
    filter: brightness(50%);
    background-repeat: repeat;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.slot {
    float: left;
}

input[type="button"] {
    display: block;
}

/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy {
    width: 1120px;
    height: 62px;
    border-radius: 10px;
    background-image: url("../img/slotbg.png");
    margin: 0 auto;
}
.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 62px;
    border: none;
    display: inline-block; /* to size correctly, can use float too, or width*/
}


.fancy .slot li {
    width: 35px;
    line-height: 65px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: "Lucida Console", Monaco, monospace;
}

.fancy .slot li {
   margin: 0px;
}

.fancy .slot li span {
    display: block;
}

.suprise {
    max-width: 700px;
    margin: 0 auto 10px auto;
    overflow: hidden;
}

.suprise-button {
    margin: 10px auto;
    padding-top: 10px;
    width: 400px;
}

.button-details {
    color: #FFF;
    font-size: 12px !important;
    padding-top: 4px;
}

#favList, #noFavList, .yelpFavList {
    border: 1px solid #EEEEEE;
}

.table-header {
    width: 100%;
    font: bold 18px Sans-Serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-align: center;
    line-height: 32px;
    background-color: #EEEEEE;
}

.favHeader {
    margin-bottom: 0;
}

.fav-body {
    height: 300px;
    overflow: auto;
}

.fav-body-yelp {
    height: 400px;
    overflow: auto;
}

.deleteFav:hover, .addNewFavYelp:hover {
    cursor: pointer;
}

#yelpAddressBtn {
    float: right;
    font-size: 14px;
    margin-right: 10px;
}

.addNewFavYelp {
    text-align: center;
}

.less-padding {
    padding: 0 2px !important;
}